.NewOrder {
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  justify-content: space-between;
}

.navMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 11rem;
    justify-content: space-between;
    background-color: rgba(242, 182, 4, 1);
    flex: none;
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
  }

.blockButtons a{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    color: #160146;
    padding: 1rem .3rem;
    text-decoration: none;
    align-items: center;
}

.blockButtons :hover {
    background-color: rgba(242, 133, 38, 1);
    color: black;
  }

.active {
    background-color: rgba(165, 50, 8, 1);
    color: white;
    transform: translateY(4px);
}

.list {
  list-style-type: none;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-items: center;
}

.form {
  font-size: 1rem;
}

.image {
  width: 10rem; 
  height: 9.5rem;
}


.listOrder {
  list-style-type: none;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-items: center;
}