.App {
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  justify-content: space-between;
}

.App-header {
  min-height: 10hv;
}

body {
  background-color: #ff7b48;
  background-size: 100%;
  margin-left: auto;
  margin-right: auto;
}