.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #9caccc;
  min-height: 10vh;
 
}
.navRouter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  font-size: calc(10px + 2vmin);
  color: white;
}
.navRouter >li {
  text-decoration-color: none;
  text-decoration-line: none;
}
.App-link {
  color: #09d3ac;
}
* {
  box-sizing: border-box;
}
.styleTables{
  position: relative;
  display: inline;
  text-align: center;
}
.styleTables img{
  width: 200px;
  height: 200px;
}
.textTables{
  padding: 15px;
  text-align: center;
}






